{{ define "main-id" }}main-groups{{ end }}
{{ define "main" }}
<div class="button-section">
	<a class="btn primary" href="/groups/my">My Groups</a>
	<a class="btn primary" href="/groups/all">All Groups</a>
</div>
<div class="card-grid groups">
{{ range .Groups }}
	{{ template "gt-card" . }}
{{ else }}
	{{ if eq .Mode "my" }}
		<p>You don't have any groups yet.</p>
	{{ else }}
		<p>There aren't any groups yet.</p>
	{{ end }}
{{ end }}
</div>
<div class="button-section">
	<a class="btn primary" href="/groups/new">Start a new group</a>
</div>
{{ end }}
