{{ define "main-id" }}main-groups{{ end }}
{{ define "main" }}
<main class="single">
	<div class="widget panel group">
		<main>
			<h1>{{ .Group.Name }}</h1>
			<div class="buttons">
				<a class="btn" href="https://www.facebook.com/sharer/sharer.php?u={{ .URL.FullEscaped }}&display=popup" title="Post to Facebook" target="_blank"><i class="fa-brands fa-facebook"></i> Post</a>
				<a class="btn" href="https://www.linkedin.com/shareArticle?url={{ .URL.FullEscaped }}&title={{ .Group.Name }}&mini=true&source=EventHunt" title="Share on LinkedIn" target="_blank"><i class="fa-brands fa-linkedin"></i> Share</a>
				<a class="btn" href="mailto:?subject=Read%20This%20Article:%20{{ .Group.Name }}&body=Check%20this%20out%20from%20EventHunt:%20{{ .URL.FullEscaped }}" title="Share via email" target="_blank"><i class="fa-solid fa-envelope"></i> Email</a>
				{{ if (.Group.IsMember .User.ID) }}{{ else }}<a class="btn primary" href="/groups/{{ .Group.ID }}/join">Join group</a>{{ end }}
			</div>
			<div class="container">
				<p class="summary">{{ .Group.Summary }}</p>
				<span><strong>Website:</strong>{{ with .Group.WebURL }}<a href="{{ . }}">{{ . }}</a>{{ else }}n/a{{ end }}</span><br />
				<span><strong>City:</strong>{{ .Group.TheCity.String }}</span>
			</div>
			<div class="container">
				<h2>Upcoming Events</h2>
				<ul>
				{{ range .Group.UpcomingEvents 10 }}
					<li><a href="/events/{{ .IDString }}">{{ .Name }}</a></li>
				{{ else }}
					none
				{{ end }}
				</ul>
			</div>
			<div class="container">
				<h2>Past Events</h2>
				<ul>
				{{ range .Group.PastEvents 10 }}
					<li><a href="/events/{{ .IDString }}">{{ .Name }}</a></li>
				{{ else }}
					none
				{{ end }}
				</ul>
			</div>
		</main>
		<aside>
			<div class="container">
				<h2>Members</h2>
				<ul>
					{{ range .Group.Memberships }}
						<li>{{ .TheUser.Username }}</li>
					{{ end }}
				</ul>
			</div>
		</aside>
	</div>
</main>
{{ end }}
