{{ define "main-id" }}main-groups{{ end }}
{{ define "main" }}
<main class="single">
	<div class="widget panel group">
		<main>
			<h1>{{ .Group.Name }}</h1>
			<div class="buttons">
				<button class="btn primary">Share on FB</button>
				<button class="btn secondary">Share on LinkedIn</button>
				<button class="btn primary">Invite by email</button>
				{{ if (.Group.IsMember .User.ID) }}{{ else }}<a class="btn primary" href="/groups/{{ .Group.ID }}/join">Join group</a>{{ end }}
				<button class="btn secondary">Edit</button>
			</div>
			<div class="container">
				<p class="summary">{{ .Group.Summary }}</p>
				<span><strong>Website:</strong>n/a</span><br />
				<span><strong>City:</strong>n/a</span>
			</div>
			<div class="container">
				<h2>Upcoming Events</h2>
			{{ range .Group.UpcomingEvents 10 }}
				<div>{{ .Name }}</div>
			{{ else }}
				none
			{{ end }}
			</div>
			<div class="container">
				<h2>Past Events</h2>
			{{ range .Group.PastEvents 10 }}
				<div>{{ .Name }}</div>
			{{ else }}
				none
			{{ end }}
			</div>
		</main>
		<aside>
			<div class="container">
				<h2>Members</h2>
				<ul>
					{{ range .Group.Memberships }}
						<li>{{ .TheUser.Username }}</li>
					{{ end }}
				</ul>
			</div>
		</aside>
	</div>
</main>
{{ end }}
