:root{
	--eventhunt-blue:			#74C0FC;
	--eventhunt-green:			#2A966F;
	--eventhunt-light-green:	#E9F4F0;
	--eventhunt-purple:			#8F89FA;
	--eventhunt-red:			#F84F39;

	--main-black: #292B2C;
	--accent-color: #0d86ff;
	--grey: #777777;

	--primary-color: var( --eventhunt-blue );
}
