.btn{
	border-radius: 5px;
	padding: 2px 10px;
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: bold;
	cursor: pointer;

	&.primary{
		background-color: var( --primary-color );
		color: var( --on-primary-color );

		&:hover{
			background-color: color-mix( in oklab, white 20%, var( --primary-color ));
		}
	}

	&:has( > .fa-envelope ){
		background-color: #FF6600;
		color: white;

		&:hover{
			background-color: color-mix( in oklab, white 20%, #FF6600);
		}
	}

	&:has( > .fa-facebook ){
		background-color: #3B5998;
		color: white;

		&:hover{
			background-color: color-mix( in oklab, white 20%, #3B5998);
		}
	}

	&:has( > .fa-linkedin ){
		background-color: #0077B5;
		color: white;

		&:hover{
			background-color: color-mix( in oklab, white 20%, #0077B5);
		}
	}
}

form{
}
	form.standard input:user-invalid{
		border-color: red;
	}

form.design-1{
	margin: 0 auto;
	width: 100%;
	max-width: 400px;
}
	form.design-1 label:first-child{
		display: block;
		margin-top: 10px;
		width: 100%;
	}
	form.design-1 .input-group.required > label:first-child::after{
		content: " *";
		color: red;
	}

	form.design-1 input,
	form.design-1 select,
	form.design-1 textarea{
		display: block;
		margin-bottom: 10px;
		border: 1px solid #ABB0B2;
		border-radius: 5px;
		padding: 8px 0;
		width: 100%;
		text-indent: 2%;
	}
		form.design-1 input:user-invalid{
		border-color: red;
	}

	form.design-1 input,
	form.design-1 select{
		height: 35px;
	}

	form.design-1 input[type="radio"]{
		display: inline-block;
		width: auto;
		height: auto;
	}

	form.design-1 .input-group{
		display: flex;
		flex-wrap: wrap;
		gap: 10px;

		&.attached{
			gap: 0;
		}

		&.attached *:nth-child(2){
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
		}

		&.attached *:last-child{
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&.a-child .input-group{
			flex-grow: 1;
		}
	}


	form.design-1 input[type="submit"]{
		margin: 20px auto 0 auto;
		border: none;
		width: 50%;
		height: 40px;
		cursor: pointer;
	}

	form.design-1 .required-warning{
		margin-top: 0;
		font-size: smaller;
		text-align: right;
	}

form.simple-vertical{
	display: flex;
}

.location-search{
	background-color: var( --main-black );
	padding: 0 10px;
	height: 50px;
	line-height: 50px;
	color: white;
}
