.widget.panel{
	margin: 0 auto;
	display: flex;
	gap: 20px;
	border-radius: 10px;
	background-color: #F5F5F5;
	padding: 20px;
	max-width: 900px;

	h1{
		margin-top: 0;
	}

	.container{
		border-radius: 10px;
		background-color: white;
		padding: 20px;

		h2{
			margin-top: 0;
		}

		.summary{
			margin-top: 0;
		}

		strong{
			margin-right: 10px;
		}
	}

	main{
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 70%;
	}

	aside{
		width: 30%;
		min-width: 300px;
	}

	.rsvps{
		display: flex;
		flex-direction: column;
		gap: 15px;
		list-style: none;
		margin: 0;
		padding: 0;

		.rsvp{
			img{
				width: 36px;
			}

			.intent{
				border-radius: 16px;
				padding: 4px 8px;
				color: white;
				font-size: smaller;

				&.yes{
					background-color: var( --eventhunt-green );
				}

				&.maybe{
					background-color: var( --eventhunt-blue );
				}

				&.no{
					background-color: var( --eventhunt-red );
				}
			}
		}
	}
}
