{{ define "javascript-head" }}
<script type="text/JavaScript">

	/* Closes any open popups on the page. In this context, a pop is something that is opened with a
	button and is toggle-able. Frequently seen with menus.*/
	function closePopups(){

		document.querySelectorAll( `[aria-expanded="true"]` ).forEach(( button, index ) => {
			button.click();
		});
	}

	function redirect( url ){

		window.location = url;
	}

	function convertTimes(){
		
		var times = document.getElementsByClassName( "convert-time" );

		for ( let time of times ){

			let utcTime = new Date( time.getAttribute( "datetime" ) )
			time.textContent = utcTime.toLocaleTimeString( "en-US", { hour: 'numeric', minute: 'numeric' } );;
		}
	}

	window.onload = function runOnloadFeatures(){

		convertTimes();
		menu = document.getElementById( "user-menu" );
	}

	function clipboardCopy( elementID ){

		element = document.getElementById( elementID + "-field" );
		element.select();
		element.setSelectionRange( 0, 99999 );

		document.execCommand( "copy" );

		element = document.getElementById( elementID + "-button" );
		element.innerHTML = "copied";
	}

function sortTable(n, tableID, sortType) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById(tableID);
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if ( sortType == "text" && x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        } else if ( sortType == "number" && parseInt(x.innerHTML) > parseInt(y.innerHTML)) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
		}
      } else if (dir == "desc") {
        if ( sortType == "text" && x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        } else if ( sortType == "number" && parseInt(x.innerHTML) < parseInt(y.innerHTML)) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}

const deleteText = "Are you sure you want to delete '$name'?";

document.addEventListener( "DOMContentLoaded", () => {
	
	// popup code
	document.querySelectorAll( `[aria-haspopup="menu"]` ).forEach(( button, index ) => {

		button.addEventListener( "click", function( e ){

			popup = document.getElementById( this.getAttribute( "aria-controls" ));
			popup.toggleAttribute( "aria-hidden" );

			if ( this.getAttribute( "aria-expanded" ) == "false" ){
				closePopups();
				this.setAttribute( "aria-expanded", "true" );
			}else{
				this.setAttribute( "aria-expanded", "false" );
			}

			e.stopPropagation();
		});
	});

	// modal code - only used for service deletion right now
	document.querySelectorAll( `[aria-haspopup="dialog"]` ).forEach(( button, index ) => {

		button.addEventListener( "click", function( e ){

			modal = document.getElementById( this.getAttribute( "aria-controls" ));

			if ( this.getAttribute( "data-param1" )){
				header = modal.getElementsByTagName( "h3" )[0];
				header.textContent = header.getAttribute( "data-tpl" ).replace( "$param1", this.getAttribute("data-param1" ));
			}
			modal.toggleAttribute( "aria-hidden" );

			if ( this.getAttribute( "aria-expanded" ) == "false" ){
				this.setAttribute( "aria-expanded", "true" );
			}else{
				this.setAttribute( "aria-expanded", "false" );
			}

			modal.getElementsByClassName( "btn-cancel" )[0].addEventListener( "click", function(){
				button.click();
			});

			modal.getElementsByClassName( "btn-action" )[0].addEventListener( "click", function(){
				id = button.getAttribute( "data-id" );
				fetch( "./services/" + id, { method: 'DELETE' })
					.then( async response => {
						if ( response.ok ){
							redirect("./services");
						}else{
							alert( "Delete failed." );
						}
					})
						.catch(() => alert( "Failed to send delete request." ));
			});

			e.stopPropagation();
		});
	});
	
	// close popups when the body is clicked
	document.addEventListener( "click", function(){ closePopups(); });
});
</script>
{{ end }}
