{{ define "stylesheets" }}
<link rel="stylesheet" href="/assets/vendor/sanitize-13.0.0/sanitize.css">
<link rel="stylesheet" href="/assets/vendor/font-awesome-6.5/css/fontawesome.min.css">
<link rel="stylesheet" href="/assets/vendor/font-awesome-6.5/css/brands.min.css">
<link rel="stylesheet" href="/assets/vendor/font-awesome-6.5/css/solid.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins&Roboto+Mono:wght@400;700&display=swap">
<link rel="stylesheet" href="/assets/css/colors.css">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/mobile.css" media="(max-width:1200px)">
{{ end }}
